@import "../../../colorPalette.scss";

.discount {
  background-color: $fizzmod-turquoise;
  color: $white;
  font-weight: bold;
  padding: 13px 0;
  width: 46px;
  height: 46px;
  border-radius: 46px;
  position: absolute;
  top: 0;
  left: 0;
}

.no-discount {
  width: 46px;
  height: 46px;
}

.productsSection {
  display: flex;
}
.productsContainer {
  display: flex;
  flex-wrap: wrap;
}

.productContainer {
  width: 18%;
  min-width: 210px;
  height: 310px;
  margin: 0 32px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.productTitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  color: $fizzmod-darkest-grey;
}

aside {
  width: 30%;
}

.card {
  text-decoration: none;
}

.listPrice {
  font-size: 13px;
  text-decoration: line-through;
  color: $fizzmod-medium-grey;
}

.productPrice {
  color: $fizzmod-green;
  font-size: 18px;
  font-weight: bold;
}
